<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IoT</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../static/css/main.css">
    <!-- jQuery 3 -->
    <script src="/static/components/jquery/jquery-min-js.js"></script>
    <!--    Admin LTE js-->

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Play:700,400' type='text/css'>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="info-block">
    <div class="info-label" id="sensor_name1">
        Температура
    </div>
    <div class="info-value" id="sensor_value1">
        0
    </div>

    <div class="info-label" id="sensor_name2">
        Давление
    </div>
    <div class="info-value" id="sensor_value2">
        0
    </div>

    <div class="info-label" id="sensor_name3">
        Расстояние
    </div>
    <div class="info-value" id="sensor_value3">
        0
    </div>

    <div class="info-label" id="sensor_name4">
        Влажность
    </div>
    <div class="info-value" id="sensor_value4">
        0
    </div>
    <input type='button' value='Обновить'>
</div>

<script src="../static/js/main.js"></script>
</body>
</html>
